# Python 3.12.5

## Web Scraping
Scrapy == 2.13.1
requests == 2.32.3
scrapy-playwright == 0.0.43
pillow >= 8.0.0

## Notebooks
marimo >= 0.13.15
pyarrow >= 20.0.0
notebook >= 7.4.3

## Data Wrangling
pandas >= 2.3.0
seaborn >= 0.13.2